<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nari.jjsd.business.mapper.TaskuserMapper">

    <!-- 开启二级缓存
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>
-->
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.nari.jjsd.business.model.Taskuser">
        <id column="BPNCU_ID" property="bpncuId" />
        <result column="TS_ID" property="tsId" />
        <result column="T_ID" property="tId" />
        <result column="TYPE_CODE" property="typeCode" />
        <result column="BPNC_ID" property="bpncId" />
        <result column="EXAME_TIME" property="exameTime" />
        <result column="GROUP_ID" property="groupId" />
        <result column="PUSER_ID" property="puserId" />
        <result column="LSCORE" property="lscore" />
        <result column="FR_STATUS" property="frStatus" />
        <result column="BPNC_TYPE_ID" property="bpncTypeId" />
        <result column="WEIGHT" property="weight" />
        <result column="TASK_FLAG" property="taskFlag" />
        <result column="REMARKS" property="remarks" />
        <result column="TEMP_FLAG" property="tempFlag" />
        <result column="PLUS" property="plus" />
        <result column="CREATEDBY_NAME" property="createdbyName" />
        <result column="CREATED_AT" property="createdAt" />
        <result column="UPDATEDBY_ID" property="updatedbyId" />
        <result column="UPDATEDBY_NAME" property="updatedbyName" />
        <result column="UPDATED_AT" property="updatedAt" />
        <result column="DELETED_FLAG" property="deletedFlag" />
        <result column="DELETEDBY_ID" property="deletedbyId" />
        <result column="DELETEDBY_NAME" property="deletedbyName" />
        <result column="DELETED_AT" property="deletedAt" />
        <result column="CREATEDBY_ID" property="createdbyId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        BPNCU_ID, TS_ID, T_ID, TYPE_CODE, BPNC_ID, EXAME_TIME, GROUP_ID, PUSER_ID, LSCORE, FR_STATUS, BPNC_TYPE_ID, WEIGHT, TASK_FLAG, REMARKS, TEMP_FLAG, PLUS, CREATEDBY_NAME, CREATED_AT, UPDATEDBY_ID, UPDATEDBY_NAME, UPDATED_AT, DELETED_FLAG, DELETEDBY_ID, DELETEDBY_NAME, DELETED_AT, CREATEDBY_ID
    </sql>

</mapper>
