<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nari.jjsd.business.mapper.TaskMapper">



    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.nari.jjsd.business.model.Task">
        <id column="TASK_ID" property="taskId" />
        <result column="TASK_NAME" property="taskName" />
        <result column="BPNC_ID" property="bpncId" />
        <result column="LEVEL_CODE" property="levelCode" />
        <result column="REMARKS" property="remarks" />
        <result column="WF_ID" property="wfId" />
        <result column="CREATEDBY_ID" property="createdbyId" />
        <result column="CREATEDBY_NAME" property="createdbyName" />
        <result column="CREATED_AT" property="createdAt" />
        <result column="UPDATEDBY_ID" property="updatedbyId" />
        <result column="UPDATEDBY_NAME" property="updatedbyName" />
        <result column="UPDATED_AT" property="updatedAt" />
        <result column="DELETED_FLAG" property="deletedFlag" />
        <result column="DELETEDBY_ID" property="deletedbyId" />
        <result column="DELETEDBY_NAME" property="deletedbyName" />
        <result column="DELETED_AT" property="deletedAt" />
        <result column="SEND_FLAG" property="sendFlag" />
        <result column="WF_STATUS" property="wfStatus" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        TASK_ID, TASK_NAME, BPNC_ID, LEVEL_CODE, REMARKS, WF_ID, CREATEDBY_ID, CREATEDBY_NAME, CREATED_AT, UPDATEDBY_ID, UPDATEDBY_NAME, UPDATED_AT, DELETED_FLAG, DELETEDBY_ID, DELETEDBY_NAME, DELETED_AT, SEND_FLAG
    </sql>

    <select id="inquireWfstatus" resultMap="BaseResultMap" parameterType="string">
        SELECT  task_id FROM
        p_b_task
        WHERE
        TASK_Id IN ( SELECT OBJ_ID FROM  workflow


        where WF_STATUS=#{wfStatus})
        <!-->    //// where WF_STATUS='APPLY')
          <include refid="com.nari.jjsd.business.WorkflowMapper.queryworkflow" /><-->
    </select>




    <select id="selectTaskPage" resultMap="BaseResultMap">
    select p.TASK_ID ,p.WF_ID,p.TASK_NAME,p.BPNC_ID,p.LEVEL_CODE,p.CREATEDBY_NAME,p.REMARKS,p.CREATEDBY_ID
    from
    p_b_task p,
     workflow w
    where
    p.task_id=w.obj_id
    and
    w.WF_STATUS='APPROVE' and p.SEND_FLAG='N'
    </select>

</mapper>
